@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital,wght@1,700&display=swap');

* {
  margin: 0;
  padding: 0;
}

.dark-scheme {
  --background: #181818;
  --font: #dedede;
  --dark1: #1a120b;
  --dark2: #3c2a21;
  --light1: #d5cea3;
  --light2: #e5e5cb;
}

.fonts {
  --sub-title: 'Gentium Book Basic', serif;
}

body {
  background-color: #181818;
}